body {
  font-family: Arial, sans-serif;
}

#contacts-container {
  max-width: 400px;
  margin: 0 auto;
}

.contact {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.contact h3 {
  margin-top: 0;
}

.contact p {
  margin-bottom: 5px;
}

.contact button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #cc0000;
}

  
